*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8f5f0;
    color:#222;
}

h1,h2,h3{
    font-family:'Playfair Display',serif;
}

.container{
    width:85%;
    max-width:1500px;
    margin:auto;
}

/* Navbar */

.navbar{
    position:fixed;
    top:15px;
    left:50%;
    transform:translateX(-50%);
    width:92%;
    max-width:1600px;
    z-index:1000;
    background:rgba(255,255,255,.92);
    backdrop-filter:blur(20px);
    border:1px solid rgba(200,169,106,.25);
    border-radius:22px;
    box-shadow:
    0 10px 40px rgba(0,0,0,.08);
    transition:.4s ease;
}

.navbar:hover{
    box-shadow:
    0 15px 50px rgba(0,0,0,.12),
    0 0 20px rgba(200,169,106,.15);
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;

    height:80px;
    padding:0 35px;
}

.navbar::before{
    content:'';

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:2px;

    background:linear-gradient(
        90deg,
        transparent,
        #c8a96a,
        transparent
    );
}

.logo img{
    height:55px;
    width:auto;
    display:block;
    transition:.4s ease;
}

.logo img:hover{
    transform:scale(1.05);
}
.nav-btn{
    padding:12px 26px;

    background:#c8a96a;
    color:white;

    border-radius:50px;

    text-decoration:none;
    font-weight:600;

    transition:.4s ease;
}

.nav-btn:hover{
    background:#b8924d;

    transform:
    translateY(-3px);

    box-shadow:
    0 10px 25px rgba(200,169,106,.35);
}
.nav-links{
    display:flex;
    align-items:center;
    gap:35px;

    list-style:none;
    margin:0;
    padding:0;
}

.nav-links a{
    text-decoration:none;
    color:#2a2a2a;

    font-size:17px;
    font-weight:600;

    position:relative;

    transition:.3s ease;
}

.nav-links a:hover{
    color:#c8a96a;
}

.nav-links a::after{
    content:'';

    position:absolute;
    left:0;
    bottom:-8px;

    width:0;
    height:2px;

    background:#c8a96a;

    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}
.nav-links a.active{
    color:#c8a96a;
}

.nav-links a.active::after{
    width:100%;
}
.nav-links li{
    list-style:none;
}

/* Hero */

.hero{
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center;
    color:white;
    min-height:85vh; 
    display:flex;
    align-items:center;
    position:relative;
    overflow:hidden;
}

.hero-content{
    max-width:650px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;

    padding-top:30px;
    padding-bottom:0;

    margin:0;
}

.hero-slider{
    position: absolute;
    inset: 0;
    z-index: 1;
}

.slide{
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;

    opacity: 0;
    transition: opacity 2s ease-in-out;

    transform: scale(1);
}

.slide.active{
    opacity: 1;
}

.slide::after{
    content: '';
    position: absolute;
    inset: 0;

    background: rgba(0,0,0,.50);
}



/* Keep content above images */

.hero .container,
.hero-content,
.hero-tag,
.trust-badge,
.hero-button,
.whatsapp-btn{
    position: relative;
    z-index: 10;
}

.hero-tag{
    display:inline-flex;
    align-items:center;
    width:fit-content;

    padding:10px 22px;

    background:rgba(200,169,106,.15);
    border:1px solid rgba(200,169,106,.3);

    border-radius:30px;

    color:#fff;
    font-size:14px;
    letter-spacing:2px;
    text-transform:uppercase;

    margin-bottom:20px;

    backdrop-filter:blur(10px);
}

.hero h1{
    font-size:clamp(2.8rem,4.5vw,4.8rem);

    line-height:1.02;

    margin-bottom:18px;

    font-family:'Playfair Display',serif;

    color:#fff;

    text-shadow:
    0 5px 20px rgba(0,0,0,.4);
}

.hero h1 span{
    color:#cfae67;

    text-shadow:
    0 0 15px rgba(200,169,106,.5),
    0 0 35px rgba(200,169,106,.3);
}

.hero p{
    font-size:1.15rem;
    line-height:1.55;

    margin-bottom:20px;

    max-width:600px;
}

.trust-badge{
    display:inline-flex;
    align-items:center;
    width:fit-content;

    padding:10px 18px;

    background:rgba(200,169,106,.15);
    border:1px solid rgba(255,255,255,.15);

    border-radius:50px;

    color:#fff;
    font-size:15px;

    margin-bottom:28px; /* Change from 15px to 25px */

    backdrop-filter:blur(10px);
}

.btn{
    display:inline-block;

    padding:14px 30px;

    margin-right:0;
    margin-bottom:0;

    background:#b08a45;
    color:white;

    text-decoration:none;

    border-radius:5px;

    transition:.3s;
}

.btn:hover{
    background:#a98949;
}

.btn-outline{
    background:transparent;
    border:2px solid white;
}

.btn-primary{

    background:#b08a45;

    color:#111;

    border:none;

    transition:.4s;
}

.btn-primary:hover{

    transform:translateY(-5px);

    box-shadow:
        0 10px 25px rgba(200,169,106,.4);
}

.btn-secondary:hover{

    background:white;
    color:#111;
}
.whatsapp-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;

    width:fit-content;

    gap:12px;

    margin-top:0;

    padding:12px 24px;

    background:#25D366;
    color:white;

    text-decoration:none;
    font-weight:600;
    font-size:15px;

    border-radius:50px;

    transition:.3s ease;
}

.whatsapp-btn:hover{
    transform:translateY(-4px);
    box-shadow:
        0 10px 25px rgba(37,211,102,.4);
    background:#1ebe5d;
}

.hero-button{
    display:flex;
    gap:18px;

    align-items:center;
    flex-wrap:wrap;
    margin-bottom:20px; 
    margin-top:0;
    
}

/* About Section */

.about{
    background:#ffffff;
}

.about-content{
    display:flex;
    align-items:center;
    gap:60px;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

.about-text{
    flex:1;
    text-align: justify-all;
}

.about-text h3{
    font-size:32px;
    margin-bottom:20px;
    color:#222;
}

.about-text p{
    text-align: justify;
    line-height: 1.9;
    color: #555;
    margin-bottom: 25px;
}

.about-stats{
    display:flex;
    gap:20px;
    margin-top:30px;
}

.stat-box{
    background:#f8f5f0;
    padding:20px;
    border-radius:12px;
    text-align:center;
    min-width:120px;

    transition:all 0.4s ease;
    cursor:pointer;
}

.stat-box:hover{
    transform:translateY(-10px);

    box-shadow:
    0 0 20px rgba(200,169,106,.4),
    0 0 40px rgba(200,169,106,.3),
    0 15px 35px rgba(0,0,0,.1);

    background:#fff;
}
.stat-box h4{
    font-size:28px;
    color:#c8a96a;
    transition:.4s;
}

.stat-box:hover h4{
    color:#b18f4d;
    transform:scale(1.1);
}


@media(max-width:768px){

.about-content{
    flex-direction:column;
}

.about-stats{
    flex-wrap:wrap;
}
}
/* OFFER SECTION */

.offers-section{
    padding:100px 0;
    background:linear-gradient(
    135deg,
    #f8f5f0,
    #ffffff);
}

.offer-tag{
    display:inline-block;
    background:#c8a96a;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    font-size:13px;
    letter-spacing:1px;
    margin-bottom:15px;
}

.offers-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.offer-card{
    position:relative;
    background:white;
    padding:30px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    min-height:350px; 
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:.4s;
    overflow:hidden;
}

.offer-card:hover{
    transform:translateY(-12px);
    background:#111;
    color:white;

    box-shadow:
    0 25px 50px rgba(0,0,0,.15),
    0 0 30px rgba(200,169,106,.20);
}

.countdown-box{
    margin-bottom:18px;
    color:#c8a96a;
    font-weight:600;
    font-size: 13px;
}

.offer-badge{
    position:absolute;
    top:20px;
    right:20px;

    background:linear-gradient(
        135deg,
        #d4b06a,
        #b89045
    );

    color:white;
    padding:10px 20px;

    border-radius:50px;

    font-size:15px;
    font-weight:700;

    box-shadow:0 8px 20px rgba(201,169,106,.35);

    transition:.3s ease;
}

.offer-card:hover .offer-badge{
    transform:translateY(-2px);
}

.offer-icon{
    width:90px;
    height:90px;    
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:linear-gradient(
        135deg,
        #d4b06a,
        #b89045
    );
    color:white;
    font-size:2.2rem;
    box-shadow:
    0 10px 25px rgba(201,169,106,.35);
    transition:.4s ease;
    margin:0 auto 12px;
}

.offer-card:hover .offer-icon{
    transform:scale(1.15) rotate(10deg);
    box-shadow:
    0 15px 35px rgba(201,169,106,.45);
}

.offer-card h3{
    font-size:25px;
    line-height:1.3;

    min-height:80px;

    display:flex;
    align-items:center;
    justify-content:center;
font-family: 'Cormorant Garamond', serif;
    margin-bottom:4px;
}

.offer-divider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    margin:0px 0 8px;
}

.offer-divider span{
    width:80px;
    height:1px;

    background:linear-gradient(
        to right,
        transparent,
        #c8a96a,
        transparent
    );
}

.offer-divider i{
    color:#c8a96a;
    font-size:12px;
}

.offer-card p{
    color:#666;
    line-height:1.6;
    min-height:75px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:.3s;
}

.offer-card:hover p{
    color:#ddd;
}

.offer-btn{
    display:inline-block;
    background:#c8a96a;
    color:white;
    text-decoration:none;
    margin-top:auto;
    padding:12px 28px;
    border-radius:8px;
    min-width:180px;
    transition:.3s;
}

.offer-btn:hover{
    background:#a98949;
}

.featured-offer{
    border:2px solid #c8a96a;
}

.featured-offer:hover{
    transform:scale(1.08);
}

@media(max-width:768px){

.featured-offer{
    transform:none;
}

.featured-offer:hover{
    transform:translateY(-10px);
}

}

/*Sevices Section*/
.services{
    background:#f8f5ef;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    margin-top:60px;
}

.service-card{
    background:white;
    padding:35px 30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.06);
    transition:.2s ease;
    border:1px solid rgba(200,169,106,.15);
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.12),
    0 0 25px rgba(200,169,106,.18);
}

.service-card i{
    font-size:42px;
    color:#cfae67;
    margin-bottom:20px;
    transition:.4s ease;
}
.service-card:hover i{

    transform:
    scale(1.25)
    rotate(5deg);

    color:#b9964d;
}

.service-card h3{
    margin-bottom:15px;
    color:#222;
    font-size:24px;
}

.service-card p{
    color:#666;
    line-height:1.7;
}


/*Steps to works*/
.how-it-works{
    background:#faf8f3;
}
.steps-wrapper{
    position:relative;
}

.process-line{
    position:absolute;
    top:40px;
    left:12%;
    width:76%;
    height:3px;

    background:linear-gradient(
        90deg,
        #d6b56c,
        #b9964d
    );

    transform:scaleX(0);
    transform-origin:left;

    z-index:0;
}
@keyframes growLine{
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(1);
    }
}

.steps-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.step-card{
    background:white;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.06)
    transition:.4s;
    position:relative;
    z-index:1;
    transition:.5s ease;
}

.step-card:hover{

    transform:
    translateY(-12px);

    box-shadow:
    0 25px 50px rgba(0,0,0,.12),
    0 0 30px rgba(214,181,108,.18);

    border:1px solid rgba(214,181,108,.25);

}
.process-label{
    display:block;
    margin-bottom:15px;
    font-size:12px;
    letter-spacing:3px;
    color:#b9964d;
    font-weight:600;
}

.step-number{
    width:80px;
    height:80px;

    margin:0 auto 25px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:
    linear-gradient(
        135deg,
        #d6b56c,
        #b9964d
    );
    color:white;
    font-size:30px;
    font-weight:700;

    box-shadow:
    0 10px 25px rgba(185,150,77,.3);
}
.step-card:hover .step-number{
    transform:
    scale(1.1)
    rotate(8deg);
    transition:.4s;
}

.step-card h3{
    margin-bottom:15px;
}

/* =================================
   BRANDS SECTION
================================= */

.brands-section{
    padding:100px 0;
    background:#ffffff;
}

.brands-slider{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:30px;
    align-items:center;
}

.brand-card{

    background:white;

    padding:30px;

    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    height:140px;

    border:1px solid rgba(200,169,106,.15);

    box-shadow:
    0 10px 25px rgba(0,0,0,.05);

    transition:.4s;
}

.brand-card:hover{

    transform:
    translateY(-10px);

    box-shadow:
    0 20px 40px rgba(0,0,0,.1);

    border-color:#c8a96a;
}

.brand-card img{
    max-width:155px;
    max-height:115px;
    object-fit:contain;
}

.brand-card:hover img{

    filter:grayscale(0%);
    transform:scale(1.1);
}

/* section title */

section{
    padding:90px 0;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#222;
}

.section-title p{
    color:#666;
    margin-top:10px;
}
.section-title h2{
    font-size:65px;
    font-weight:700;
    line-height:1.1;

    background:linear-gradient(
        135deg,
        #111,
        #c8a96a,
        #111
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    margin-bottom:15px;
}

.section-title p{
    font-size:20px;
    color:#666;
    letter-spacing:1px;
}
.section-title::after{
    content:"";
    display:block;

    width:120px;
    height:4px;

    margin:25px auto 0;

    background:linear-gradient(
        90deg,
        transparent,
        #c8a96a,
        transparent
    );

    border-radius:20px;
}
.section-title h2{
    transition:.5s;
}

.section-title:hover h2{
    letter-spacing:2px;
}

/* New Arrivals */

.new-arrivals{
    padding:100px 40px;
    background:#faf8f4;
}

.arrival-card{
    transition:.4s ease;
     width:100%;
    max-width:560px;
    margin:0 auto;

    background:#fff;
    border-radius:25px;
    overflow:hidden;

    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.arrival-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.arrival-card:hover h3{
    color:#c8a96a;
}
.arrival-wrapper{
    max-width:1200px;  
    margin:0 auto;     
    padding:0 20px;    
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.slider-container{
    position:relative;
    height:320px; /* was 400px+ */
    overflow:hidden;
}

.slider-container img,
.slider-container video{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#c8a96a;
    color:white;
    cursor:pointer;
    z-index:5;
    transition:.3s;
}

.arrow:hover{
    background:#a98949;
}

.left{
    left:20px;
}

.right{
    right:20px;
}

.arrival-content{
    padding:40px 30px;
    text-align:center;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.arrival-label{
    display:block;
    width:100%;
    text-align:center;

    color:#c8a96a;
    font-size:12px;
    font-weight:700;
    letter-spacing:4px;
    text-transform:uppercase;

    margin-bottom:10px;
}

.arrival-content h3{
    font-family:'Playfair Display', serif;
    font-size:2rem;
    font-weight:700;
    color:#111;

    line-height:1.2;
    text-align:center;

    margin-bottom:15px;

    display:block;
    width:100%;
}

.arrival-content h3::after{
    display:none;
}
.arrival-content p{
    font-size:1rem;
    line-height:1.8;
    color:#666;
    max-width:420px;
    margin:0 auto;
    text-align: center;
}

@media(max-width:992px){

    .arrival-wrapper{
        grid-template-columns:1fr;
    }

}

.arrival-divider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:14px;
    margin-bottom:22px;
}

.arrival-divider span{
    width:80px;
    height:1px;
    background:linear-gradient(
        to right,
        transparent,
        #c8a96a,
        transparent
    );
}

.arrival-divider i{
    color:#c8a96a;
    font-size:14px;
}

.arrival-label{
    display:inline-block;
    color:#c8a96a;
    font-size:12px;
    font-weight:700;
    letter-spacing:3px;
    text-transform:uppercase;
    margin-bottom:12px;
}

/* collections */

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    align-items:stretch;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    transition:.5s;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
    display:flex;
    flex-direction:column;
    height:100%;
}
.card{
    background:white;
    border-radius:20px;
    overflow:hidden;

    box-shadow:
    0 10px 25px rgba(0,0,0,.08);

    transition:.4s ease;
}

.card:hover{

    transform:
    translateY(-12px);

    box-shadow:
    0 25px 50px rgba(0,0,0,.15);
}

.card-content{
    flex:1;
    display:flex;
    flex-direction:column;
    padding:20px;
    text-align: justify;
}


.card img{
    width:100%;
    height:260px;
    object-fit:cover;
    transition:.8s;
}

.card-content h3{
    margin-bottom:10px;
}

.card:hover img{
    transform:scale(1.08);
}

/* WHY CHOOSE US */



.why-us{
    padding:120px 0;
    background:
    linear-gradient(
        135deg,
        #f8f5ef,
        #f2ede3
    );
}
.why-us{
    position:relative;
}

.why-us::before{
    content:"";
    position:absolute;
    inset:0;
    background:
    radial-gradient(
        rgba(200,169,106,.05),
        transparent 70%
    );
}   

.stats-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

    margin-top:60px;
}

.stat-card{

    background:
    rgba(255,255,255,.8);

    backdrop-filter:blur(10px);

    border-radius:25px;

    padding:40px 25px;

    text-align:center;

    transition:.4s;

    border:1px solid rgba(200,169,106,.2);

    position:relative;

    overflow:hidden;
}

.stat-card::before{

    content:"";

    position:absolute;

    width:200px;
    height:200px;

    background:
    rgba(200,169,106,.08);

    border-radius:50%;

    top:-100px;
    right:-100px;
}

.stat-card:hover{

    transform:
    translateY(-12px);

    box-shadow:
    0 25px 50px rgba(0,0,0,.1);

    border-color:#c8a96a;
}

.stat-card i{

    font-size:45px;

    color:#c8a96a;

    margin-bottom:20px;
}

.stat-card h3{

    font-size:42px;

    color:#c8a96a;

    margin-bottom:10px;

    font-family:
    'Playfair Display',
    serif;
}

.stat-card p{

    font-size:18px;

    color:#333;

    font-weight:500;
}

.stat-card:hover i{
    transform:scale(1.15);
    transition:.4s;
}

.stat-card:hover{
    box-shadow:
    0 20px 40px rgba(0,0,0,.08),
    0 0 30px rgba(200,169,106,.25);
}

/* Gallery */

/*.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    border-radius:12px;
    height:250px;
    object-fit:cover;
}
.gallery img{
    cursor:pointer;
}

.gallery img:hover{
    transform:scale(1.05);
    box-shadow:0 20px 40px rgba(0,0,0,.2);
}*/

/* TESTIMONIALS */

.testimonials-section{
    padding:100px 0;
    background:#fff;
}

.testimonials{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.testimonial-card{

    background:white;

    border-radius:20px;

    padding:35px;

    position:relative;

    transition:.4s;

    border:1px solid rgba(200,169,106,.2);

    box-shadow:
    0 10px 30px rgba(0,0,0,.06);
}

.testimonial-card:hover{

    transform:
    translateY(-10px);

    box-shadow:
    0 25px 50px rgba(0,0,0,.12);

    border-color:#c8a96a;
}

.client-header{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:20px;
}

.client-avatar{

    width:60px;

    height:60px;

    border-radius:50%;

    background:#c8a96a;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;
}

.client-header h4{
    margin-bottom:5px;
}

.client-header span{
    color:#888;
    font-size:14px;
}

.stars{

    color:#c8a96a;

    font-size:18px;

    margin-bottom:15px;
}

.testimonial-card p{

    color:#666;

    line-height:1.8;
}
.testimonial-card{
    background:
    linear-gradient(
    135deg,
    #ffffff,
    #faf7f2
    );
}
.testimonial-card:hover{
    box-shadow:
    0 20px 40px rgba(0,0,0,.08),
    0 0 30px rgba(200,169,106,.15);
}

/* Quote Icon */

.testimonial-card::before{

    content:"❝";

    position:absolute;

    top:15px;
    right:20px;

    font-size:50px;

    color:rgba(200,169,106,.15);

    font-family:serif;
}

/* LEFT SIDE */

.info-card{
    display:flex;
    gap:20px;
    align-items:flex-start;
    background:white;
    padding:25px;
    margin-bottom:20px;

    border-left:4px solid #c8a96a;

    box-shadow:0 8px 20px rgba(0,0,0,.05);

    transition:all .4s ease;

    position:relative;
    overflow:hidden;
}

.info-card:hover{

    transform:
    translateY(-10px)
    scale(1.02);

    box-shadow:
    0 20px 40px rgba(0,0,0,.10),
    0 0 25px rgba(200,169,106,.25);

    border-left:6px solid #c8a96a;
}
.info-card:hover{
    background:linear-gradient(
        135deg,
        #ffffff,
        #faf7f2
    );

    transform:
        translateY(-10px)
        scale(1.02);

    box-shadow:
        0 20px 40px rgba(0,0,0,.10),
        0 0 30px rgba(200,169,106,.25);
}

.info-card:hover p{
    color:#222;
}

.info-card:hover .working-schedule{
    box-shadow:
        0 0 20px rgba(200,169,106,.15);
}

.info-card i{
    width:60px;
    height:60px;
    background:#c8a96a;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:12px;

    font-size:22px;

    transition:.4s;
}

.info-card:hover i{

    transform:
    rotate(8deg)
    scale(1.15);

    box-shadow:
    0 0 20px rgba(200,169,106,.45);
}

.info-card h4{
    color:#c8a96a;
    margin-bottom:8px;
    letter-spacing:1px;

    transition:.3s;
}

.info-card:hover h4{
    color:#b18f4d;
}

.info-card::before{

    content:"";

    position:absolute;

    top:0;
    left:-100%;

    width:100%;
    height:100%;

    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.4),
        transparent
    );

    transition:.8s;
}

.info-card:hover::before{
    left:100%;
}

.working-hours-card{
    transition:.4s ease;
}

.working-hours-card:hover{

    transform:
    translateY(-10px);

    box-shadow:
    0 20px 40px rgba(0,0,0,.10),
    0 0 25px rgba(200,169,106,.25);
}

/* WORKING HOURS CARD */

.working-hours-card{
    display:block;
    background:white;
    padding:15px;
    border-left:4px solid #c8a96a;
}

.working-header{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:25px;
}

.working-icon{
    width:58px;
    height:58px;
    background:#c8a96a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    border-radius:8px;
}

.working-header h4{
    color:#c8a96a;
    letter-spacing:3px;
    font-size:17px;
    font-weight:700;
}

.working-schedule{
    background:#1b1b1b;
    border-radius:10px;
    padding:15px;
}

.schedule-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#f5f5f5;
    font-size:18px;
    padding:10px 0;
}

.time{
    color:#c8a96a;
    font-weight:600;
}

.closed{
    color:#ff8c8c;
    font-weight:600;
}

.divider{
    height:1px;
    background:rgba(200,169,106,0.2);
    margin:10px 0;
}

/* Mobile */

@media(max-width:768px){

.schedule-row{
    flex-direction:column;
    gap:10px;
    align-items:flex-start;
}

}

.map-box{
    overflow:hidden;
    border-radius:20px;
    margin-top:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

/* RIGHT SIDE */

.enquiry-box{
    background:linear-gradient(
    135deg,
    #1e1e1e,
    #111111);
    
    padding:50px;
    border-radius:20px;
    color:white;

    border:1px solid rgba(200,169,106,.3);
    /*height:fit-content;
    align-self:start;*/
}

.enquiry-box h3{
    font-size:42px;
    margin-bottom:10px;
}

.enquiry-box p{
    color:#ccc; 
    margin-bottom:30px;
}

.enquiry-box input,
.enquiry-box select,
.enquiry-box textarea{

    width:100%;
    padding:16px;
    margin-bottom:20px;

    background:#2b2b2b;
    border:1px solid rgba(200,169,106,.3);

    color:white;
    border-radius:8px;
}

.enquiry-box input:focus,
.enquiry-box textarea:focus,
.enquiry-box select:focus{
    outline:none;
    border-color:#c8a96a;
}

.enquiry-box button{

    width:100%;
    padding:18px;

    border:none;
    border-radius:8px;

    background:#c8a96a;
    color:white;

    font-size:16px;
    font-weight:600;
    cursor:pointer;

    transition:.3s;
}

.enquiry-box button:hover{
    background:#b18f4d;
    transform:translateY(-2px);
}

/* Responsive */

@media(max-width:900px){

.contact-wrapper{
    grid-template-columns:1fr;
}

.contact-showcase h2{
    font-size:38px;
}

.enquiry-box{
    padding:30px;
}

}
/* PREMIUM FOOTER */

.premium-footer{
    background:linear-gradient(
    135deg,
    #111111,
    #1b1b1b,
    #252525);
    color:#ffffff;
    padding:50px 0 15px;
}

.footer-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1.2fr;
    gap:35px;
}

.footer-brand{
    position:relative;
}

.footer-logo{

    font-size:38px;

    font-family:'Playfair Display',serif;

    background:linear-gradient(
        135deg,
        #f5d78c,
        #c8a96a,
        #f5d78c
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    margin-bottom:18px;

    line-height:1.2;
}

.footer-divider{
    width:80px;
    height:3px;
    background:#c8a96a;
    border-radius:20px;
    margin-bottom:25px;
}
.footer-logo{

    text-shadow:
    0 0 15px rgba(200,169,106,.2);
}   

.footer-desc{
    color:#d0d0d0;
    font-size:17px;
    line-height:1.9;
    max-width:350px;
    margin-bottom:20px;
}

.footer-tagline{
    display:block;
    color:#c8a96a;
    letter-spacing:4px;
    font-size:12px;
    text-transform:uppercase;
    margin-bottom:20px;
}

.footer-column{
    padding:10px;
    background:none;
    border:none;
    border-radius:0;
}

.footer-column p{
    color:#bdbdbd;
    line-height:1.8;
}

.footer-column ul{
    list-style:none;
}
.footer-column ul{
    padding-top:10px;
}

.footer-column ul li{
    margin-bottom:15px;
}

.footer-column ul li a{
    color:#bdbdbd;
    text-decoration:none;
    transition:.3s;
    position:relative;
}

.footer-column h3{
    color:#fff;
    margin-bottom:25px;
    font-size:28px;
    position:relative;
}

.footer-column h3::after{

    content:"";
    position:absolute;
    left:0;
    bottom:-10px;
    width:50px;
    height:3px;
    background:#c8a96a;
    border-radius:10px;
}
.footer-column ul li{
    margin-bottom:24px;
    transition:.3s;
}

.footer-column ul li:hover{
    transform:translateX(8px);
}

.footer-column ul li a{
    display:inline-flex;
    align-items:center;
    gap:10px;
}

.footer-column ul li a::before{
    content:"›";
    color:#c8a96a;
    font-size:18px;
}

.contact-item{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:28px;
    color:#ddd;
    font-size:18px;
}

.contact-item i{
    color:#c8a96a;
    width:20px;
}

.contact-item span{
    word-break:break-word;
}

.footer-timing{
    margin-top:35px;
    padding:18px;
    border-radius:15px;
    background:
    linear-gradient(
        135deg,
        rgba(200,169,106,.12),
        rgba(200,169,106,.05)
    );
    border:1px solid rgba(200,169,106,.2);
    color:#f5d78c !important;
    line-height:2;
    display:inline-block;
    white-space:nowrap;
}

/* Hover Effect */

.footer-column ul li a:hover{
    color:#c8a96a;
    padding-left:10px;
}

.footer-column ul li a::after{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    background:#c8a96a;
    left:0;
    bottom:-4px;
    transition:.3s;
}

.footer-column ul li a:hover::after{
    width:100%;
}

/* Social Icons */

.footer-social{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.footer-social a{
    width:52px;
    height:52px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(200,169,106,.1);
    color:white;
    text-decoration:none;
    transition:.4s;
    size: 15px;
}

.footer-social a:hover{

    background:#c8a96a;
    color:#111;
    transform:
    translateY(-8px)
    rotate(360deg);
    box-shadow:
    0 0 20px rgba(200,169,106,.4);
}

/* Contact */
.footer-contact{
    font-size: 16px;
    
}

/* Bottom */

.footer-bottom{
    margin-top:30px;
    border-top:1px solid rgba(200,169,106,.15);
    padding-top:25px;
    text-align:center;
    color:#999;
}

/* Responsive */

@media(max-width:900px){

.footer-grid{
    grid-template-columns:1fr;
    text-align:center;
}

.footer-social{
    justify-content:center;
}
}


/* Glass Navbar */

nav{
    background:rgba(255,255,255,.85);
    backdrop-filter:blur(15px);
    transition:.4s;
}

nav.scrolled{
    background:rgba(255,255,255,.96);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

/* Hero */

.hero{
    position:relative;
    overflow:hidden;
    background-attachment:fixed;
}

/* Floating Glow */

.floating-circle{
    position:absolute;
    border-radius:50%;
    background:rgba(200,169,106,.15);
    filter:blur(80px);
    pointer-events:none;
}

.circle1{
    width:300px;
    height:300px;
    left:5%;
    top:10%;
    animation:float 8s infinite;
}

.circle2{
    width:200px;
    height:200px;
    right:10%;
    top:25%;
    animation:float 10s infinite;
}

.circle3{
    width:250px;
    height:250px;
    bottom:10%;
    left:40%;
    animation:float 12s infinite;
}

@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-40px);
}

}

/* Product Hover */

.card img{
    transition:1s ease;
}

.card:hover img{
    transform:scale(1.1);
}

.card:hover{
    transform:
    translateY(-15px)
    scale(1.02);

    box-shadow:
    0 30px 60px rgba(0,0,0,.15);
}

/* Gallery Hover */

.gallery img{
    transition:.6s;
}

.gallery img:hover{
    transform:scale(1.05);
}

/* Testimonials */

.testimonial{
    transition:.4s;
}

.testimonial:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

/* Contact Fix */

.contact-wrapper{
    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:50px;
    align-items:start;
}

.contact-info{
    width:100%;
}

.enquiry-box{
    width:100%;
}
/* Buttons */

.btn,
.offer-btn,
.enquiry-box button{
    transition:.4s;
}

.btn:hover,
.offer-btn:hover,
.enquiry-box button:hover{
    box-shadow:
    0 0 25px rgba(200,169,106,.5);
}

/* WhatsApp Floating */

.whatsapp-float{

position:fixed;
bottom:25px;
right:25px;

width:65px;
height:65px;

background:#25D366;

display:flex;
justify-content:center;
align-items:center;

border-radius:50%;

color:white;
font-size:32px;

text-decoration:none;

z-index:9999;

box-shadow:
0 10px 30px rgba(0,0,0,.25);

animation:pulse 2s infinite;
}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.08);
}

100%{
transform:scale(1);
}

}

/* Smooth Section Spacing */

section{
    scroll-margin-top:100px;
}
